<div class="container">

  <div class="container club">
    <img src="{{club.crestUrl}}" alt="" class="img" />
    <h3>{{club.name}}</h3>
    <h3>{{club.shortName}}</h3>
    <h3>{{club.tla}}</h3>
    <h3>{{club.address}}</h3>
    <h3>{{club.phone}}</h3>
    <h3>{{club.website}}</h3>
    <h3>{{club.email}}</h3>
    <h3>{{club.founded}}</h3>
    <h3>{{club.clubColors}}</h3>
    <h3>{{club.venue}}</h3>
    <h3>{{club.lastUpdate}}</h3>

  </div>

</div>